{%extends 'base.html'%}

{%block main_block%}

<div class="container">
    <div class="mx-auto grid w-full max-w-7xl items-center space-y-4 px-2 py-10 md:grid-cols-2 md:gap-6 md:space-y-0 lg:grid-cols-4">
        {%for p in data%}

        <div class="relative aspect-[16/9]  w-auto rounded-md md:aspect-auto md:h-[400px]">
            <img
              src="{{p.image.url}}"
              alt="AirMax Pro"
              class="z-0 h-full w-full rounded-md object-cover"
            />
            <div class="absolute inset-0 rounded-md bg-gradient-to-t from-gray-900 to-transparent"></div>
            <div class="absolute bottom-4 left-4 text-left">
              <h1 class="text-lg font-semibold text-white">{{p.title}}</h1>
              <p class="mt-2 text-sm text-gray-300">
                {{p.description}}
              </p>
              <a href="{%url 'product-detail' p.id%}"   class="mt-2 inline-flex cursor-pointer items-center text-sm font-semibold text-white">
                Shop Now →
              </a>
            </div>
          </div>

        {%endfor%}
        
      </div>
      
</div>



{%endblock%}